# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
sites/all/themes/bootstrap_astrooda
sites/all/modules/astrooda

# Ignore paths that contain user-generated content.
sites/default/files/styles
sites/default/files/bootstrap
sites/default/files/ctools
sites/default/files/media-icons
sites/default/files/webform
sites/default/files/js

sites/*/private
